@import 'config';
@import 'sections';

*{
     box-sizing: border-box;
}

body{
    font-family: $font-stack;
}
a{
    text-decoration: none;
}



.navbar{
    display: none;
    background-color: rgba(255,255,255,0.9);
    
    .navbar-brand{
        font-family: 'Walter Turncoat', cursive;
        background-color: #fff;
        padding: 5px;
        border: solid 2px; 
        color: #000;
        border-radius: 10px;
    }
    
    .mr-auto{
        flex:1;
        justify-content: flex-end;
    }
    .nav-link{
        color:$primary-color;
    }
}

.welcome-container{

    img{
        height:50px;
        border-radius:300px;
    }

    @include easeOut;
    border: 1px solid rgba(0,0,0,0);//correction d'un bug au top
    display: inline-flex;
    position: absolute;
    left: 42%;
    top:280px;
    border: solid 2px $primary-color;
    border-radius: 100px;
    padding: 10px 10px 0px 10px;
    background-color:#fff;
    

    #welcome-text{
        
        @include easeOut;
        // line-height: 0px;
        // height: 0px;
        font-size:50px;
        font-family: 'Satisfy', cursive;
        color: $primary-color; 
        text-decoration: none;       
        //margin-top:100px;
    }
    &:hover{
        text-decoration: none;
        border: solid 2px $secondary-color;
        #welcome-text{
            color:$secondary-color;
        }
    }
}

.carousel  {
    &-item{
        height: 580px;

        img{
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}
  

//discover section
#discover-section{
    height: 20vh;
    background:#fff;
    text-align:center;
    font-family: 'Satisfy', cursive;
    padding: 2rem;
}

//Contact
#contact-section{
    margin-top:50px;
    background:#fff;

    .contact-container{
        font-family: 'Satisfy', cursive;
        display: inline-block;
        //flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: left;
        margin-top: 1rem;

        .contact-info{
            color: $secondary-color;
        }

        .lg-heading{
            margin-bottom: 2rem;
        }
        
        .boxes{
            div{
                @include easeOut;
                font-size: 2rem;
                border: 3px $primary-color solid;
                border-radius: 10px;
                padding: 1rem 1.5rem;
                margin-bottom: 2rem;
                
                &:hover{
                    background: $secondary-color;
                    color: #fff;
                    .text-sec{
                        color:$primary-color;
                    }  
                 }
            }
        }
    }
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    //color: set-text-color($primary-color);
    height: 60px;
}

// .showcase{
//     position: fixed;
//     width:100%;
//     top:0;
//     background-color: rgba(10,10,10,0.1);
//     height: 50px;
//     border-bottom: 1px solid #fff;

//     nav{
//         display:flex;
//         align-items: center;
//         justify-content:space-between; 

//         ul{
//             display: flex;
//             list-style: none;
//         }

//         li{
//             padding:15px;
//         }
//         a:hover{
//             color: $secondary-color;
//             border: solid 2px $secondary-color; 
//         }
//     }
//     a{
//         background-color: #fff;
//         padding: 5px;
//         border: solid 2px $primary-color; 
//         color: $primary-color;
//         border-radius: 10px;
//     }
// }

// .nav-container{
//     max-width: 1500px;
//     padding: 0 30px;
//     margin: 0 auto;
//     overflow: auto;
// }
